<% include ./partials/header %>

<br><br><br>
<div class="container">
        <br><br><br>
        <div class="row">
            <div style="width: 30%; margin: 25px auto;">
                <form action="/login" method="post" name="form1">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username" required="">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password"required="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                </form>
                <a href="/register">Not a member? SignUp</a>
            </div>
        </div>
</div>
<br><br><br><br>
<script src="lib/jquery/jquery.min.js"></script>
<script>
  var alert=$('.alert')
  setTimeout(()=>{
    alert.css('display','none')
  },3000);
</script>


<% include ./partials/footer %>

