<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">


    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone5">IPHONE 5</a> </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone5c.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone5c">IPHONE 5C</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone5s.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone5s">IPHONE 5S</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphonese.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphoneSe">IPHONE SE</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone6.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone6">IPHONE 6</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone6plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone6plus">IPHONE 6 PLUS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone6s.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone6s">IPHONE 6S</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone6splus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone6s+">IPHONE 6S+</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone7">IPHONE 7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone7plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone7plus">IPHONE 7 PLUS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone8">IPHONE 8</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphone8plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphone8plus">IPHONE 8 PLUS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphonex.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphonex">IPHONE X</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphonexs.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphonexs">IPHONE XS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphonexsmax.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphonexsmax">IPHONE XS MAX</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/apple/iphonexr.jpeg" alt="img" class="img-fluid">
            <h4><a href="/apple/iphonexr">IPHONE XR</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <% include ../partials/footer %>