<% include ../partials/header %>

  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor6.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor6">HONOR 6</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor6x.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor6x">HONOR 6X</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor7">HONOR 7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor7a.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor7a">HONOR 7A</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor7c.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor7c">HONOR 7C</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor7x.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor7x">HONOR 7X<a/></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor8">HONOR 8</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor8lite.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor8lite">HONOR 8 LITE</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor8x.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor8x">HONOR 8 X<a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor8pro.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor8pro">HONOR 8 PRO</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor9i.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor9i">HONOR 9I</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor9lite.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor9lite">HONOR 9 LITE</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor10.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor10">HONOR 10</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/huawei/honor10play.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/honor10play">HONOR 10 PLAY</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

      

      </div>
    </div>
  </section>

  <% include ../partials/footer %>