<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div> -->

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k3note.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k3note"> k3 note</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k4note.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k4note">k4 note</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k5note.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k5note">k5 note</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k6note.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k6note">k6 note</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k6power.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k6power">k6 power</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k8note.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k8note">k8 note</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/k8plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/k8plus">k8 plus</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/zukz1.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/zukz1">zuk z1</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/lenovo/zukz2+.jpeg" alt="img" class="img-fluid">
            <h4><a href="/huawei/zukz2+">zuk z2+</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <% include ../partials/footer %>