<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div> -->

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/motoc.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/motoc"> moto C</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/motoc+.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/motoc+">moto C+</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/e2.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/e2">E2</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/e3power.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/e3power">E3 POWER</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/e4.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/e4">E4</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/g2.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/g2">G2</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/g3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/g3">G3</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/g4play.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/g4play">G4 PLAY</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/g4plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/g4plus">G4+</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/gturbo.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/gturbo">G TURBO</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/m.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/m">M</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/x2gen.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/x2gen">X 2 GEN</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/x4.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/x4">X4</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/xplay.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/x4play">X PLAY</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/xstyle.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/xstyle">X STYLE</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/z.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/z">Z</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/zplay.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/zplay">Z PLAY</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/motorola/z2play.jpeg" alt="img" class="img-fluid">
            <h4><a href="/motorola/z2play">Z2 PLAY</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <% include ../partials/footer %>