<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div> -->

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/1.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/1"> one plus 1</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/2.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/2">ONE PLUS 2</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/3">ONE PLUS 3</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/3t.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/3t">ONE PLUS 3T</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/5">ONE PLUS 5</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/5t.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/5t">ONE PLUS 5T</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/x.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/x">ONE PLUS X</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/6.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/6">ONE PLUS 6</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/6t.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/6t">ONE PLUS 6T</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oneplus/7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oneplus/7">ONE PLUS 7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <% include ../partials/footer %>