<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div> -->

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f1s.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f1s"> F1 S</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f9.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f9">F9</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f1plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f1plus">F1 PLUS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f1.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f1">F1</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f5youth.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f5youth">F5 YOUTH</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a7">A7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a37.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a37">A37</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/neo7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/neo7">NEO7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f7">F7</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f3">F3</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a83.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a83">A83</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a71.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a71">A71</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f5">F5</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a71k.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a71k">A71K</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/f3plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/f3plus">F3 PLUS</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a3s.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a3s">A3S</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a33.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a33">A33</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/oppo/a57.jpeg" alt="img" class="img-fluid">
            <h4><a href="/oppo/a57">A57</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


      </div>
    </div>
  </section>

  <% include ../partials/footer %>