<% include ../partials/header %>
  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div> -->

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j2.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j2">J2</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j2pro.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j2pro">J2 PRO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j5">J5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j5prime.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/">J5 PRIME</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j6.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j6">J 6</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j7">J 7 PLUS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j7prime.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j7prime">J7 PRIME</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j7pro.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j7pro">J7 PRO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j7max.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j7max">J7 MAX</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j7nxt.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j7nxt">J7 NXT</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j8">J 8</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/on5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/on5">ON 5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/on7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/on7">ON 7</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/c7pro.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/c7pro">C7 PRO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/c9.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/c9">C9 PRO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a9pro.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a9pro">A9 PRO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/on8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/on8">ON8</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/onnxt.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/onnxt">ON NXT</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a3">A3</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a5">A5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a7">A7</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a8">A8</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/e5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/e5">E5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/e7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/e7">E7</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note3">NOTE3</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note3neo.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note3neo">NOTE 3 NEO</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note4.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note4">NOTE 4</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note5">NOTE 5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note8.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note8">NOTE 8</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s3.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s3">S3</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s4.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s4">S4</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s5.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s5">S5</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s6.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s6">S6</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s6egde.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s6egde">S6 EDGE</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s6egdeplus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s6egdeplus">S6 EDGE PLUS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s7.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s7">S7</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s7edge.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s7edge">S7 EDGE</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s8edge.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s8edge">S8 EDGE</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s8edgeplus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s8edgeplus">S8 EDGE PLUS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s9edge.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s9edge">S9 EDGE</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/s9edgeplus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/s9edgeplus">S9 EDGE PLUS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/note9.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/note9">NOTE 9</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/m10.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/m10">M 10</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/m20.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/m20">M 20</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/m50.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/m50">M 50</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a50.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a50">A 50</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a20.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a20">A 20</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/m30.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/m30">M 30</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a10.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a10">A 10</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/j4plus.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/j4plus">J4 PLUS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
		
		<div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/samsung/a30.jpeg" alt="img" class="img-fluid">
            <h4><a href="/samsung/a30">A 30</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>
		
		
		
  


      </div>
    </div>
  </section>

  <% include ../partials/footer %>